body{
    font-family: arial, helvetica, sans-serif;
}

header nav ul{
    display: flex;
    list-style: none;
    gap: 1.5rem;
    padding: 0;
}

h1{
    color:rgb(192, 10, 10);
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(238, 238, 52);
    padding: 2rem;
}

a{
    text-decoration: none;
    font-size: 18px;
}

a.btn{
    background-color: rgb(179, 179, 179);
    color:rgb(255, 255, 255);
    padding: 2rem;
    display: inline-block;
    margin: 10px 0px;


}
/* kan også skrives som:
    margin-top: 10px;
    margin-right:5px;
    margin-bottom:5px;
    margin-left:3px;
