*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}
body{
    padding: min(50px, 7%);
    background-color: rgb(13, 13, 20);;
}

/* HEADER - START */


nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    ul{
        list-style: none;
        gap: 1rem;
        padding: 1rem;
        margin-bottom: 3rem;
        
        li a{
            text-decoration: none;
            color: white;
            font-size: 36px;
        }
    
    }
}


form{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    background-color: #222429;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    
    input{
        padding: 1rem;
        border: none;
        border-radius: 10px;
        
    }

    button{
        padding: 1rem;
        background-color: #333;
        color: white;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        
    }
}



.grid-container-main{
    display: grid;
    margin-top: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
}
/* HEADER - END */


/* PRODUCTCARDS - START */
.card{
    margin: 1rem;
    padding: 2em;
    background-color: #333;
    text-align: center;
    border-radius: 10px;
}
/* PRODUCTCARDS - END */


/* BANNER - START */
.title{
    margin: 1rem;
    padding: 2em;
    background-color: #222429;
    text-align: center;
    border-radius: 10px;
    position: relative;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin: 0 auto;
    padding: 3rem;
    
}

@property --angle{
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
.title::after, .title::before{
    content:'';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #001aff, #ff0000, #001aff);
    z-index: -1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 3px;
    border-radius: 10px;
    animation: 10s spin linear infinite;
}
.title::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}
/* BANNER - END */



/* PAD BREAKPOINT - START */
@media (min-width: 600px){

    .flex-container-header nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style: none;
        padding: 1rem;
        margin-bottom: 3rem;
    }
}
